.message {
  align-items: center;
  color: white;
  display: flex;
  padding: 20px;
}

.message__info {
  margin-left: 20px;
}

.message__timestamp {
  color: gray;
  font-size: x-small;
  margin-left: 20px;
}